NPI Release Setup/NPI Release Setup.suo
NPI Release Setup/Setup/Debug/setup.exe
NPI Release Setup/Setup/Debug/Setup1.msi
NPI Release Setup/Setup/Release/setup.exe
NPI Release Setup/Setup/Release/Setup.msi
